---
---
{% include header.html %}
<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <h1>{{ page.title }}</h1>
    {% if page.date %}
      <p><em>{{ page.date | date: "%Y-%m-%d" }}</em></p>
    {% endif %}
    {{ content }}
  </div>
</main>

<!-- MathJax config + script MUST be inside <body>, i.e., before footer include -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['\\(', '\\)'], ['$', '$']],
      displayMath: [['\\[','\\]'], ['$$','$$']]
    }
  };
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% include footer.html %}
